<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
  <script language="javascript" type="module" src="https://cdn.jsdelivr.net/npm/p5@1.4.1/lib/p5.js"></script>
  <script language="javascript" type="module" src="./timer.mjs"></script>
  <script language="javascript" type="module" src="./board.mjs"></script>
  <script language="javascript" type="module" src="front.js"></script>
  <script language="javascript" type="module" src="game.js"><reference path="./p5.global-mode.d.ts" /></script>
  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js" integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css" />

</head>
  
<body>

  <div class="header-container">
    <ul class="nav-list">
      <li><a href="/">Home</a></li> 
      <li><a href="/PlayLocally">Play Locally</a></li>
      <li><a href="/Puzzles">Puzzles</a></li>
      <li><a href="/BoardEditor">Board Editor</a></li>
      <li><a href="/PlayAI">Play AI</a></li>
    </ul>
  </div>

  <div class="game-container">
    <div id="board-container"></div>
    <div class="game-info-container">
      <div class="card text-white bg-dark mb-3">
        <div class="card-header">Header</div>
        <div class="card-body">
         
          <h5 class="card-title">Dark card title</h5>
          <div id="white-timer"></div>
          <div id="black-timer"></div>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>  


  
  <script>

    // const queryString = window.location.search;
    // const urlParameters = new URLSearchParams(queryString);

    // var time = urlParameters.get('time');
    // var increment = urlParameters.get('increment');
    // var roomCode = urlParameters.get('roomCode'); 

    // var url = 'http://localhost:3000/onlineGame' + '?time=' + time + '&increment=' + increment + '&roomCode=' + roomCode;
    // console.log(url);
    // var socket = io.connect(url);


    // socket.emit('roomConnect', (data) => {
    //   console.log('hello! ' + '' + socket.id);
    //   return urlParameters.get('roomCode');
    // });

  </script>


</body>
</html>