body{
  background-color: rgb(74, 74, 112);
}

/* GLOBAL */

.header-container{
  display:flex;
  position: absolute;

  justify-content: center;
  align-items: center;

  z-index: 1;

  top: 0px;
  left: 0px;

  width: 100vw;
  height: 10vh;

  background-color: rgb(74, 74, 112);
}

.game-container{
  display: flex;
  position: absolute;

  top: 10%; 
  left:17%;

  flex-wrap: wrap;
  flex-direction: row;

  border-style: dashed;

  font-size: 0px;

  width: 66vw;
  height: 90vh;

  justify-content: flex-start;
  align-items: center;
}

.game-info-container{
  position: relative;
  
  border-style: none;

  width: 40%;
  height: 0;
  padding-bottom: 60%;

}


/* FOR BOARD PAGE */

#board-container{
  border-style: none;
  width: 60%; 
  height: 0;
  padding-bottom:60%;
 
}

.scrollable{
  overflow-y: scroll;
  height: 200px;
  background: #f8d0e6;
  padding: 40px;
}

.center{
  margin:auto;
  width: 50%;

  border: 3px solid #73AD21;
  padding: 10px;
}

.nav-list{
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
  font-size: 24px;

  padding:0;
  list-style: none;
}

a{
  color: white;
  text-decoration: none;
}

.card{
  position: absolute;
  
  width:100%;
  height: 100%;

  border-radius: 0px;
}

.card-header{
  font-size: 3rem;
}

/* START PAGE */

#matchmaking-table{
  position: absolute;

  width:50vw;
  height:25vh;

  top: 78%;
  right: 25%;
}

#game-option-container{
  display: flex;
  flex-wrap: wrap;
  position: absolute;

  justify-content: center;

  width: 50vw;
  height: 50vh;

  border-style: dashed;

  top:25%;
  right:25%;  

}

.btn{
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;

  border-radius: 0px;
  border-style: double;
  border-color: grey;

  background-color: #28282B;

  width: calc(100% / 4);
  height: 50%;
    
}

.btn-font{
  color:#c5c0c0;
  font-size: calc(0.5vw + 1vw);
}

.btn:hover{
  border-color:aqua;
}

.btn:hover p{
  color: #FFFFFF
}

.wrap-text{
  display: flex;
  flex: 1;
}

/* BOARD EDITOR */

#board-editor-full-container{
  display: flex;
  position: absolute;

  top: 12%; 
  left:17%;

  flex-wrap: wrap;
  flex-direction: row;

  border-style: dashed;

  font-size: 0px;

  width: 66vw;
  height: 110vh;

  justify-content: center;
  align-items: center;


}


#board-editor-container{
  position: absolute;

  top: 12%;
  left: 0%;
  width: 43%;
  height: 50%;

  border-style: none;

}

#black-piece-selection-container{
  display: flex;
  position: absolute;

  border-style: dashed;

  top:0%;
  left: 0%;

  background-color:#28282B;

  border-style: none; 
  width: 100%;
  height: 10%;

  gap: 0rem;

  justify-content: center;
  align-items: center;


  border-radius: 10px;
}

#white-piece-selection-container{
  position: absolute;
  display: flex;

  top: 65%;
  left:0%;

  background-color:  #28282B;

  justify-content: center;
  align-items: center;

  height: 10%;

  gap:0rem;

  border-radius: 5px;

}

.img-size img {
  position:relative;
  float:right;

  /* right:5%; */
  top: 10px;



  border-style: none;
  max-width: 100%;
  max-height: 100%;
}

.selection-square{
  width: 100%;
  height:100%;

  background-color: #bababa;
}

.selection-square:hover{
  background-color:white;
  border-radius: 70%;
  width: 90%;
  height: 90%
  
}

#FEN-container{
  color: white;
}

#checkbox-FEN-info{
  display: flex;
  position:absolute;

  border-radius: 10px;

  left: 65%;
  top:25%;

  flex-direction: column;

  background-color: #28282B;

  justify-content: space-between;

  width:30%;
  height: 20%; 
  min-width: 10rem;

}

.form-check{
  position: relative;
  left:5%;
  font-size: 1rem;  
}

.form-check-label{
  color: #FFFFFF;
}

#white-castling-boxes{
  display: flex;
  position: absolute;

  top: 30%;
  left:10%;

  flex-direction: column;
  justify-content: space-between;

}

#black-castling-boxes{
  display:flex;
  position: absolute;

  top:30%;
  left: 67%;

  flex-direction: column;

  justify-content: space-between;


}


.scroll{
  overflow-x: scroll;
  white-space: nowrap;

  position: absolute;
  left: 5%;
  bottom:15%;

  background-color: #28282B;
  border-radius: 5px;
  width:40%;
}

#FEN-text{
  position:absolute; 
  left: 0%;
  bottom: 15%;
  color:#FFFFFF;
}

