body{
 background-color: rgb(74, 74, 112);
}

.game-container{
  display: flex;
  position: absolute;
  top: 10%; 
  right:25%;

  padding: 0;
  

  flex-wrap: wrap;
 
  width: 65vw;
  height: 90vh;
  border-style: groove;

  justify-content: space-between;

  
}


#header-container{
  display:flex;
  position: absolute;

  justify-content: center;
  align-items: center;


  z-index: 1;

  top: 0px;
  left: 0px;
  width: 100%;
  height: 10%;

  background-color: rgb(74, 74, 112);
}

#game-info-container{
  position: relative;
  
  border-style: none;

  width: 30%;
  height: 70%;
  
  /* height should be the same as board-container's width due to the height of board container being determined by its width */

}

#board-container{
  
  border-style: double;

  width: 70%; 
  /* height is determined by width in sketch.js
  this is because it is a square and can't be rectangular in any way */
 

}


.nav-list{
  display: flex;
  flex-wrap: wrap;
  gap: 20rem;
  font-size: 36px;

  padding:0;
  list-style: none;
}

a{
  color: white;
  text-decoration: none;
}

.card{
  position: absolute;
  
  width:100%;
  height: 100%;
}
